* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: 'Kumbh Sans', sans-serif;
  height: 500px;
  width: auto;
  max-width: 100%;
  position: relative;

}

.container {
  background-color: rgba(rgb(231, 222, 222), rgb(216, 230, 216), rgb(244, 244, 248), alpha);
  display: flex;
  align-items: center;
  max-width: 60rem;
  height: 90px;
  margin: auto;
  padding:0;
  box-shadow: 0px 7px 10px -15px #111;
}


.nav-toggle {
  display: none;
  position: relative;
  margin-top: 4px;
  left: 2rem;
}

.hidden {
  display: none;
}


ul li {
  list-style: none;
  display: inline-block;
  line-height: 100px;
  font-family: 'Kumbh Sans', sans-serif;

}

ul li a {
  text-decoration: none;
  font-size: 13px;
  padding-left: 20px;
  cursor: pointer;
  color: hsl(220, 14%, 75%);
 
}

.navbar {
  margin-left: 30px;
}
.nav-link li a{
  color: grey;
}
.nav-link:hover,
.nav-link:focus {
  color: black;
  font-weight: 500;
}

.nav-link {
  position: relative;

}

.nav-link::before {
  content: "";
  position: absolute;
  left: 25px;
  right: 0;
  bottom: 0;
  top: 3.1rem;
  height: 3px;
  background-color: hsl(26, 100%, 55%);
  transition: 300ms ease-out;
  transform: scaleX(0);
}


.nav-link:hover::before,
.nav-link:focus::before {

  transform: scaleX(1);

}

.image-list {
  position: relative;
  display: flex;
  padding-left: 220px;
  align-items: center;
  justify-content: center;

}

.sideImages {
  padding-left:40px ;
}

.cartIcon {
  width: 18px;
}

.cartIcon:hover{
  cursor: pointer;
}

.avatar {
  height: auto;
  width: 40px;

}

.avatar:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

/* End of header */

.nav {
  display: none;
}

.nav__panel-container {
  background-color: hsl(0, 0%, 3%, .6);
  position: fixed;
  inset: 0;
  z-index: 10;
  transform: translateX(-100%);
}

.nav__panel-container.expanded {
  transform: translateX(0%);
}

.nav__panel {
  background-color: #fff;
  width: 60%;
  height: 100%;
  padding: 35px;
}

.close img {
  height: 20px;
  width: 20px;
}

.nav {
  display: flex;
}

.nav__link-container {
  padding: 0;
  list-style: none;
  display: grid;
}

.nav__link a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}


/* End ToggleMenu */


/* feature-path-text begins */

.Feature-1-2 {
  margin-right: 50px;
}

.f-path-text-p {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}

.f-path-text-p {
  color: hsl(26, 100%, 55%);
  height: 30px;
}

.f-path-bold {
  color: hsl(0, 0%, 0%);
  width: 350px;
  padding-bottom: 26px;
  font-size: 30px;

}

.f-path-text-p2 {
  font-size: 17px;
  width: auto;
  line-height: 23px;
  color: hsl(219, 9%, 45%);
}


/* feature-path-text ends */

/* light-box-section */

/* mobile version */

@media only screen and (max-width: 960px) {

  header .container {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body{
    height: 700px;
    overflow-x: hidden;
    width: 101.1%;
  }

  header .container .madehead h1 {
    position: absolute;
   
  }

  header .container .navbar {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.5s height ease-in-out;
  }
.container{
  position: absolute;
  z-index: 8;
  height: 4.2rem;
  background-color: #fff;
  width: 100.7%;
}

  .madehead h1 {
    visibility: visible;

  }
 

 .navbar-h1{
  margin-left: 45px;
  font-size: 2.11rem;
  text-align: center;
  visibility: hidden;
 }

  li {
    display: block;
    text-align: center;
    padding: 1.5 rem 0;
  }

  header .container .madehead {
    padding: 10px;
  }

  .nav-toggle {
    display: block;
  }

 .navbar-h2{
  display: none;
 }

  .nav-toggle  {
    padding: 12px 0;
    margin-left: -18px;
  }

  .sideImages{
    padding-left: 10px;
  }

.nav__link-container li{
  text-align: start;
}

  .nav__link {
    /* padding-bottom: 2px; */
    margin-bottom: -55px;
    margin-left: -25px;
  }
  .nav__link:hover{
    color: grey;
   
  }

  .image-list {
    position: relative;
    top: 4.7px;
    left: -5px;

  }

  .sideImages {
    margin-right: 16px;

  }

.round {
  position: absolute;
  right: 4rem;
  top: -0.1rem;
  width: 14px;
  height: 12px;
  border-radius: 50%;
  background-color: hsl(26, 100%, 55%);
  }

  .cartIcon {
   
    width: 20px;
  }
  .cartIcon:hover {
    cursor: pointer;
  }
  

  .avatar {
    width: 25px;
   
  }

  .avatar:hover {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
  }

  .section-container {
    margin: 0;
    

  }

 

  .Feature-1-2 {
    padding: 20px;
    /* margin-top: -710px; */
    width: 100%;
    margin: 0;
  }

.f-path-text-p2 {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  margin-top: -15px;
}
  .img-text{
   position: relative;
  
  }


 .img-text .thumb-gallery {
    display: none;
  }

 .product-img{
  width: 100.95%;
  height: auto;
 margin-top: 29px;

 }
/* .product-hero {
  position: relative;
} */

.img-text .previous {
  left: 4%;
}
.img-text .previous:hover {
  left: 3%;
}

.img-text .next {
  right: 4%;
}
.img-text .next:hover {
  right: 3%;
}

.img-text .arrow {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  /* width: 1.8rem;
  height: 1.8rem; */

  padding: 13px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow img{
  height: 15px;
}


  .arrow:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: 0.2s;
  }

  .product {
    margin-top: 30px;
  }

  .product__price--actual {
    display: flex;
    gap: 0.1rem;

  }

  .fs-4 {
    font-size: 35px;
    padding-right: 30px;
  }

  .product__price{
  display: flex;
  gap: 4.4rem;
  margin-top: -11px;
  }

  .price--discount {
    padding: 11px 6px;
    text-align: center;
    background-color: hsl(25, 100%, 94%);
    font-weight: bold;
    font-size: 0.9rem;
    color: hsl(26, 100%, 55%);
  }

  .price--original {
    font-size: 1.1rem;
    text-decoration: line-through;
    margin-top: 10px;
    color: hsl(220, 14%, 75%);
  }

  .lightbox {
    flex-wrap: wrap;
  }

  .checkout {
    margin-top: 25px;
    gap: 0.8rem;
    display: grid;
    width: 99.5%;
  }

  .checkout__btn {
    padding: 13px 40px;
    border-radius: 10px;
    gap: 0.2em;
    border: none;
    color: white;
    background-color: hsl(26, 100%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkout__btn:hover {
    background-color: hsl(24, 100%, 74%);

  }

  .fs-7 {
    margin-left: 10px;
    font-size: 15px;

  }

  .checkout__amtBtn {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 13px 15px;
    background: hsl(223, 64%, 98%);
    border-radius: 0.5rem;
    display: flex;
  }

  .amt {
    padding: 4px 5px;
    height: 20px;
    width: 40px;
    place-items: center;
    border: none;
    background: hsl(223, 64%, 98%);
  }

  .fs-9 {
    font-size: 1rem;
    font-weight: 700;
  }

    .cart-container {
      position: absolute;
      left: 3rem;
      inset: 0;
      z-index: 10;
      padding: 0.63rem;
    }
  
    .cart-container[disabled] {
      transform: translate(-100%);
      visibility: hidden;
    }
  
    .cart {
      position: absolute;
      top: 4.7rem;
      left: 0.7rem;
      background-color: hsl(25, 100%, 99%);
      box-shadow: 0px 10px 25px hsl(25, 100%, 3%, 0.25);
      width: 369px;
      height: 300px;
      max-width: 356px;
      display: grid;
      z-index: 15;
      border-radius: 0.6rem;
    }
  
    .cart__header {
      margin-bottom: 8rem;
      border-bottom: 1px solid hsl(220, 14%, 75%);
      margin-top: 2rem;
      padding-left: 15px;
      padding-bottom: 15px;
      font-weight: 700;
    }
  
    .cart__body {
      padding: 1.26rem;
      place-items: center;
      display: grid;
      gap: 1.26rem;
  
    }
  
    .empty {
      font-weight: bold;
      color: hsl(219, 9%, 45%);
      margin-top: -6rem;
    }
  
    .cart__body--btn {
      color: hsl(25, 100%, 94%);
      background-color: hsl(26, 100%, 55%);
      padding: 1.3rem;
      font-size: 0.8rem;
      font-weight: bold;
      border-radius: 0.5rem;
      width: 100%;
      border: none;
      margin-top: -4rem;
    }

    .cart__body--content {
      align-items: center;
      justify-content: space-between;
      width: 100%;
      display: flex;
      gap: 1.26rem;
      margin-top: -5rem;
    }
  
  .product--name {
      max-width: 17ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1rem;
    }
  
    .product--amt {
      gap: 5px;
      display: flex;
      font-size: 0.92rem;
    }
  
    #total {
      margin-left: 7px;
    }
  
    .cart__body-description {
      align-items: center;
      display: flex;
      gap: 1rem;
      margin-top: -6rem;
    }
  
    .cart__img {
      width: 3.375rem;
      height: 3.375rem;
      object-fit: cover;
      border-radius: 5px;
    }
  
    .prod-content {
      display: grid;
      color: hsl(219, 9%, 45%);
      gap: 0.4rem;
    }
  
    .total {
      color: hsl(25, 100%, 3%);
      font-weight: bold;
    }
  
    .text-trash {
      display: flex;
      gap: 5rem;
      /* justify-content: right;
      align-items: flex-end; */
    }
  
    .trash {
      border: none;
      margin-top: -0.1rem;
      background: #fff;
    }
    .footer{
      bottom:0;
      width:100%;
      text-decoration: none;
      text-align: center;
      padding: 20px;
      margin-top: 90px;
      width: auto;
      height:60px;   /* Height of the footer */
      
   }

}



/* desktop version  */
@media only screen and (min-width: 961px) {
  .section-container {
    width: 900px;
    margin: 0 auto;
    justify-content: center;
  }
 

  .lightbox {
    position: relative;
    margin-left: 40px;

  }

  .Feature-1-2 {
    position: absolute;
    top: 85px;
    left: 400px;
    right: 0;
    height: 50%;
    width: 400px;

  }
  .navbar-h1{
    padding-left:30px ;
    font-size: 25px;
    visibility: hidden;
  }
  .navbar-h2{
    margin-bottom: 30px;
    margin-left: 20px;
  }
 

  .f-path-bold {
    width: auto;
  }


  .product-hero{
    width: auto;
    margin-top: 20px;
    position: relative;

  }
  .product-hero img {
    width: 290px;
    height: 295px;
    border-radius: 10px;
    margin-bottom: -330px;

  }


.product-hero .previous {
  left: 2%;
}

.product-hero .previous:hover {
  left: 3%;
}

.product-hero .next {
  right: 68%;
}

.product-hero .next:hover {
  right: 67%;
}

.product-hero .arrow {
  position: absolute;
  top: 190px;
  transform: translateY(-50%);

  background-color: hsl(0, 0%, 100%);;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}


.product-hero .arrow img {
  position: absolute;
  top: 9.2px;
  left: 9px;
  width: 11px;
  height: 11px;
}

.product-hero .arrow{
  display: none;
}





  .thumb-gallery {
    display: flex;
    margin-top: 350px;
    flex-direction: row;
    /* margin-left: 20px;
    margin-right: 20px; */
  }


  .pic {
    padding-right: 20px;
  }

  .pic img {
    border-radius: 10px;
    width: 58px;
    height: auto;
    
  }


  .pic img:hover {
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.6;
    cursor: pointer;
  }

  .active img {
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.6;
  }

  .product {
    position: absolute;
    margin-top: 18px;


  }

  .product__price--actual {
    display: flex;
    gap: 0.3rem;

  }

  .fs-4 {
    font-size: 25px;
    padding-right: 30px;
  }

  .f-path-text-p{
   font-size: 10px;
  }
  .f-path-bold{
    font-size: 31px;
    margin-top: -10px;
    letter-spacing: 1px;
    line-height: 29px;
  }
  .f-path-text-p2{
    font-size: 13px;
    line-height: 22px;
    margin-top: -9px;
    
  }

  .price--discount {
    padding: 5px 6px;
    align-items: center;
    /* display: flex; */
    background-color: hsl(25, 100%, 94%);
    font-weight: bold;
    color: hsl(26, 100%, 55%);
  }

  .price--original {
    font-size: 17px;
    text-decoration: line-through;
    margin-top: 5px;
    color: hsl(220, 14%, 75%);
  }

  .checkout {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
  }

  .checkout__btn {
    padding: 6px 45px;
    border-radius: 10px;
    gap: 0.2em;
    border: none;
    color: white;
    background-color: hsl(26, 100%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkout__btn:hover {
    background-color: hsl(24, 100%, 74%);
    cursor: pointer;

  }

  .fs-7 {
    margin-left: 10px;
    font-size: 12px;

  }


  .checkout__amtBtn {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 13px 15px;
    background: hsl(223, 64%, 98%);
    border-radius: 0.5rem;
    display: flex;
  }

  .amt {
    padding: 4px 5px;
    height: 20px;
    width: 40px;
    place-items: center;
    border: none;
    background: hsl(223, 64%, 98%);
  }
  .amt:hover{
    cursor: pointer;
  }

  .fs-9 {
    font-size: 1rem;
    font-weight: 700;
  }

  .round {
    position: absolute;
    right: 4.75rem;
    top: 0.4rem;
    width: 15px;
    height: 11.5px;
    border-radius: 50%;
    background-color: hsl(26, 100%, 55%);

  }

  use:hover {
    fill: hsl(24, 100%, 74%);
  }

  .cart-container {
    position: absolute;
    left: 3rem;
    inset: 0;
    /* background-color: hsl(0, 0%, 3%, 0.2); */
    z-index: 10;
    padding: 0.63rem;
  }

  .cart-container[disabled] {
    transform: translate(-100%);
    visibility: hidden;
  }

  .cart {
    position: absolute;
    top: 4.5rem;
    left: 52rem;
    background-color: hsl(25, 100%, 99%);
    box-shadow: 0px 10px 25px hsl(25, 100%, 3%, 0.25);
    width: 320px;
    height: 180px;
    max-width: 356px;
    display: grid;
    z-index: 15;
    border-radius: 0.5rem;
  }

  .cart__header {
    margin-bottom: 4.9rem;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    margin-top: 0.5rem;
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: 700;
  }

  .cart__body {
    padding: 1.26rem;
    place-items: center;
    display: grid;
    gap: 1.26rem;

  }

  .empty {
    font-weight: bold;
    color: hsl(219, 9%, 45%);
    margin-top: -7rem;
  }

  .cart__body--btn {
    color: hsl(25, 100%, 94%);
    background-color: hsl(26, 100%, 55%);
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    margin-top: -2.5rem;
    /* margin-left: 0.2rem; */
  }

  .cart__body--content {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    gap: 1.26rem;
    margin-top: -1rem;
  }

  .product--name {
    max-width: 15ch;
    white-space: nowrap;
  }

  .product--amt {
    gap: 5px;
    display: flex;
    font-size: 0.92rem;
  }

  #total {
    margin-left: 7px;
  }

  .cart__body-description {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-top: -6rem;
    font-size: 0.9rem;
    margin-left: -0.1rem;
  }

  .cart__img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 5px;
  }

  .prod-content {
    display: grid;
    color: hsl(219, 9%, 45%);
    gap: 0.4rem;
  }

  .total {
    color: hsl(25, 100%, 3%);
    font-weight: bold;
  }

  .text-trash {
    display: flex;
    gap: 5rem;
  }

  .trash {
    border: none;
    margin-top: -0.1rem;
    background: #fff;
  }
 .footer{
  justify-content: center;
  display: flex;
  margin-top: 50px;
  font-size: 14px;
  
 }

 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50rem;
 
  background: hsl(0, 0%, 0%, 75%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .overlay .btnClose{
  position: absolute;
  top: 4.2rem;
  right: 26.8rem;
  width: 57rem;
  text-align: end;
  padding: 2rem 0;
  z-index: 2;
 
 }

 .overlay .btnClose {
  cursor: pointer;
  filter: brightness(300%);
 }
 .overlay .btnClose:hover{
  filter: invert(79%) sepia(51%) saturate(6860%) hue-rotate(347deg) brightness(150%) contrast(100%);
 }


 .overlay .img-text {
  max-width: 57rem;
  position: relative;
  bottom: 2.5rem;
  left: 1.2rem;

 }
 
 .overlay .img-text .next{
  display: flex;
  right: 0.2rem;
  transform: translateX(50%);
 }
 .next img{
  margin-left: 5px;
  margin-top: 1px;
  
 }
 .overlay .img-text .previous{
  display: flex;
  left: 0;
  transform: translateX(-50%);
 }
 .previous img{
  margin-left: 3px;
  margin-top: 1px;
 }
 .overlay .arrow {
  top: 175px;
  padding: 20px 20px;
 }
 .overlay .arrow img{
  width: auto;
  height: 20px;
 }
.overlay .product-img {
  width: auto;
  height: 390px;
  border-radius: 10px;
  margin-bottom: -330px;
  }
  .overlay .pic {
    width: 50px;
    margin-left: 36px;
  } 

.overlay .pic img:hover {
      border: 2px solid hsl(26, 100%, 55%);
      opacity: 0.6;
      cursor: pointer;
    }



.hidden {
  display: none;
}

}
